---
layout: default
permalink: /now/
title: Now
---

<h1>Now</h1>

{% assign data = site.data.logs['2025'] -%}

<h2>Reading</h2>

{% assign books = data.books | where: 'status', 'reading' -%}
{% if books.size > 0 %}
<ul>
  {% for book in books %}
  <li>
    <cite>{{ book.title | normalize_whitespace }}</cite>
    by {{ book.authors | array_to_sentence_string }}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>
  No books!
</p>
{% endif %}

<h2>Watching</h2>

{% assign titles = data.titles | where: 'status', 'watching' -%}
{% if titles.size > 0 %}
<ul>
  {% for title in titles %}
  <li>
    <cite>{{ title.title | normalize_whitespace }}</cite>
    {% if title.seasons and title.seasons.size == 1 %}
    (Season {{ title.seasons }})
    {% else %}
    (Seasons {{ title.seasons | array_to_sentence_string }})
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>
  No series!
</p>
{% endif %}

<h2>Playing</h2>

{% assign games = data.titles | where: 'status', 'playing' -%}
{% if games.size > 0 %}
<ul>
  {% for game in games %}
  <li>
    <cite>{{ game.title }}</cite> ({{ game.platform }})
  </li>
  {% endfor %}
</ul>
{% else %}
<p>
  No games!
</p>
{% endif %}
